#horizontalbarGraph{
    position: absolute;
    top: 50px;
    left: 250px;
    width: 300px;
    height: 150px;
}

#barGraph{
    position: relative;
    bottom: 270px;
    left: 280px;
    width: 300px;
    height: 250px;
}