.dashboard {
    background-color: #fffded;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dashboard .div-2 {
    background-color: #fffded;
    height: 1024px;
    position: relative;
    width: 100%;
  }
  
  .dashboard .body {
    height: 953px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 100%;
  }
  
  .dashboard .content {
    height: 100%;
    top: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard .ellipse-2 {
    background-color: #d9d9d9;
    border-radius: 116.5px;
    height: 233px;
    left: 37px;
    position: absolute;
    top: 15px;
    width: 233px;
  }
  
  .dashboard .DALLE {
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-radius: 50%;
  }
  
  .dashboard .text-wrapper-6 {
    color: #8b4513;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard .text-wrapper-7 {
    color: #8b4513;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 759px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 374px;
    white-space: nowrap;
  }
  
  .dashboard .text-wrapper-8 {
    color: #8b4513;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 939px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 374px;
    white-space: nowrap;
  }
  
  .dashboard .text-wrapper-9 {
    color: #8b4513;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 504px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 374px;
    white-space: nowrap;
  }
  
  .dashboard .overlap {
    border-radius: 30px;
    height: 30px;
    left: 60px;
    position: absolute;
    top: 364px;
    width: 120px;
  }
  
  .dashboard .text-wrapper-10 {
    color: #8b4513;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
  }
  
  .dashboard .rectangle-3 {
    background-color: #8b451366;
    border: 2px solid;
    border-color: #8b4513;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000040;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
  }
  
  .dashboard .text-wrapper-11 {
    color: #8b4513;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 318px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 374px;
    white-space: nowrap;
  }
  
  .dashboard .text-wrapper-12 {
    color: #8b4513;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: center;
  }
  
  .dashboard .line {
    height: 1px;
    width: 120%;
    margin: 10px 0px;
  }
  
  .dashboard .rectangle-4 {
    background-color: #8b451338;
    height: 500px;
    width: 90%;
    width: 90%;
    margin-top: 20px;
    padding: 20px;
  }
  
  .dashboard .header-instance {
    background-color: transparent !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .dashboard .design-component-instance-node {
    width: 100% !important;
  }

  .dashboard .option-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    width: 100%;
    margin-top: 40px;
    margin-left: 80px;
    justify-content: flex-start;
  }
  
  .dashboard .text-wrapper {
    color: #8b4513;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    margin: 0px 30px;
  }

  .dashboard .text-wrapper {
    color: #8b4513;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .dashboard .text-wrapper.active {
    color: #ffffff; /* Change the color for active tab */
    background-color: #8b4513; /* Change the background color for active tab */
    border-radius: 5px; /* Optional: Add rounded corners for active tab */
    padding: 5px 10px; /* Optional: Add padding for active tab */
  }
  
  .achievements-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
    justify-content: flex-start;
  }
  
  .achievement-topic-container {
    margin: 8px 10px;
    
  }
  
  .achievement-topic-bubble {
    background: #8b4513; /* Your gradient start */
    background: linear-gradient(90deg, rgba(139,69,19,1) 0%, rgba(205,133,63,1) 100%); /* Gradient effect */
    border-radius: 20px; /* Rounded edges for the pill shape */
    padding: 10px 20px;
    margin-bottom: 10px;
    color: white; /* Text color */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow */
    cursor: pointer; /* Changes the cursor on hover */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .achievement-topic-bubble:hover {
    transform: translateY(-2px); /* Slight raise effect on hover */
  }
  
  .achievement-topic {
    font-weight: bold;
  }
  
  .achievement-score {
    margin-left: 10px; /* Adds spacing between the topic and the score */
    font-size: 0.9em; /* Slightly smaller font size for the score */
  }

  .topic-wise-scores {
  font-size: 24px;
  font-weight: bold;
  color: #8b4513; /* Match the color to your design */
  margin-bottom: 20px;
  font-size: 16px;
}

.levels-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  gap: 50px;
}

.level {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.level-image {
  width: 50px; /* Adjust image width as needed */
  height: 50px; /* Adjust image height as needed */
  margin-right: 10px; /* Adjust margin as needed */
}

.level-name {
  font-size: 14px; /* Adjust font size as needed */
  /* Add additional styles for the level name */
  color: #8b4513;
}

.locked {
  opacity: 0.5; /* Adjust opacity for locked levels */
  /* Add additional styles for locked levels */
}
.leaderboard-section {
  padding-bottom: 20px;
}
.rank {
  color: #8b4513;
  font-size: 14px;
  margin-bottom: 20px;
}

.events-container-dash {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin: 0 auto;
  flex-direction: column;
}

.event-card-dash {
  background-color: #fffded;
  border: 1px solid #8b4513;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 10px;
  overflow: hidden;
  width: 250px;
  height: 150px;
  font-size: 14px;
  margin: 0px 20px 20px 0px;
  
}
.event-card-dash .event-header {
  font-size: 16px;
}
.event-card-dash .event-date, .event-card-dash .event-location {
  font-size: 14px;
}

.attendance-status {
  font-size: 14px;
  color: #8b4513;
}

.upcoming-events, .past-events {
  display: flex;
  justify-content: flex-start;
}

.rewards-container {
  margin-top: 20px;
}

.rewards-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.reward-item {
  background-color: #fffded;
  border: 1px solid #8b4513;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 10px;
  width: 200px;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.reward-item.disabled {
  opacity: 0.5;
}

.business-name {
  font-size: 18px;
  font-weight: bold;
}

.offer-validity {
  margin-top: 5px;
}

.product-type {
  margin-top: 5px;
}

.coupon-code {
  margin-top: 5px;
  font-weight: bold;
}

.disabled-text {
  font-style: italic;
  margin-top: 5px;
}

.rewards-list {
  display: flex;
  gap: 30px;
}
