#scatter1{
    position: relative;
    top: 0px;
    left: 30px;
    width: 100%;
    height: 190px;
}
#scatter2{
    position: relative;
    top: 10px;
    left: 30px;
    width: 665px;
    height: 200px;
}
#scatter3, #scatter4,#scatter5, #scatter6{
    position: relative;
    bottom: 210px;
    left: 170px;
    width: 250px;
    height: 0px;
    padding-left: 80px;
}

#graph_heading{
    position: relative;
    top:8px;
    left:19px;
    width: 300px;
    font-size: 18px;
    font-family: 'Lato-Bold';
    font-weight: 10;
    color: #2C2D2D;
}

#scatterLegends{
    position: relative;
    top: 10px;
    left: -40px;
    width: 104px;
    height: 75px;   
}

@media screen and (max-width: 700px) {
    #scatter1{
        width: 100%;
    }
    #scatter3, #scatter4,#scatter5, #scatter6{
        padding-left: 0;
    }
}