.App {
  position: relative;
  top: -3px;
  left: 2px;
  width: 100%;
  height: 2700px;
  background: #C2E2E7 0% 0% no-repeat padding-box;
  border: 1px solid #979797;
  opacity: 1;
}
.InnerApp{
  position: absolute;
  border-radius: 25px;
  top: 73px;
  left: 5%;
  width: 89.605%;
  height: 95%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D8D8D8;
  opacity: 1;
}
.Header{
  position: absolute;
  top: 99px;
  left: 4.82%;
  width: 90.36%;
  height: 168px;
  background: #D6E8EA 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
}

.name{
  position: absolute;
  font-size: 18px;
  font-family: 'Lato-Bold';
  font-weight: 20;
  line-height: 22px;
  top: 49px;
  left: 6.454%;
  width: 104px;
  height: 22px;
  text-align: left;
  letter-spacing: 0.51px;
  color: #000000;
  opacity: 1;
}

.Chart{
  /* position: absolute;
  top: 297px;
  left: 4.82%; */
  float: left;
  margin: 0 20px 20px 0;
  width: 293px;
  height: 317px;
  border: 1px solid #979797;
  border-radius: 3px;
  opacity: 1;
}
.Part1, .Part2, .Part3,.Part4{
  position: relative;
  top: 297px;
  left: 4.82%; 
  width: 100%;
}

.Data_sec{
  position: relative;
  top: 297px;
  left: 4.82%; 
  width: 90.36%;
  height: 168px;
  margin: 0 20px 40px 0;
  border: 1px solid #979797;
  border-radius: 3px;
  opacity: 1;
}
#section{
  /* position: absolute;
  top: 297px;
  left: 382px; */
  float:left;
  width: 63.971%;
  height: 317px;
  margin: 0 20px 40px 0;
  border: 1px solid #979797;
  border-radius: 3px;
  opacity: 1;
}
#stats{
  position: relative;
  left:5%;
  font-size: 12px;
  top:3px;
  color:#006BD4;
}
#divider{
  position: relative;
  top: 10px;
  left:0%;
  width: 90%;
}
.Bar_Pie1, .Bar_Pie2{
  float:left;
  width: 538px;
  height: 395px;
  margin: 0 20px 40px 0;
  border: 1px solid #979797;
  border-radius: 3px;
  opacity: 1;
}
.Group{
  float:left;
  width: 417px;
  height: 395px;
  margin: 0 20px 40px 0;
  border: 1px solid #979797;
  border-radius: 3px;
  opacity: 1;
}
.Mixed{
  float:left;
  width: 659px;
  height: 395px;
  margin: 0 20px 40px 0;
  border: 1px solid #979797;
  border-radius: 3px;
  opacity: 1;
}
.Pie_Scat1,.Pie_Scat2,.Pie_Scat3,.Pie_Scat4{
  float:left;
  width: 538px;
  height: 317px;
  margin: 0 20px 40px 0;
  border: 1px solid #979797;
  border-radius: 3px;
  opacity: 1;
}

#donut{
  position: absolute;
  top: 32px;
  left: 16px;
  width: 104px;
  height: 104px;
}

.pieData{
  position: absolute;
  top:34px;
  left: 147px;
  width:13.02%;
  height: 79px;
}

.applications{
  position: absolute;
  left:39.331%;
  top:34px;
  width:219px;
}

.info{
  position: absolute;
  left:73.779%;
  top:34px;
  width:174px;
}

@media screen and (max-width: 998px) {
  /* #section{
    width: 90%;
  } */
  .App{
    height: 5000px;
  }
}
/* @media screen and (max-width: 400px) {
  .App{
    height: 5000px;
    width: 100%;
  }
  .InnerApp {
    left:0%;
    width: 100%;
  }
}*/
@media screen and (max-width: 700px) {
  .App{
    height: 5000px;
    width: 100%;
  }
  .InnerApp {
    left:0%;
    width: 100%;
  }
  .Header{
    height: 180px;
  }
  .Chart{
    margin: 0 20px 20px 20px;
    margin: auto;
  }
  #section{
    width: 90%;
  }
  .Bar_Pie1, .Bar_Pie2, .Pie_Scat1,.Pie_Scat2,.Pie_Scat3,.Pie_Scat4{
    width: 400px;
  }
} 